<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
</head>
<body>
	<div class="row" th:fragment="article-list"
		th:if="${jobList != null && !jobList.isEmpty()}">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table id="link-list" class="table table-striped table-bordered"
				style="width: 100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>Job name</th>
						<th>Status</th>
						<th>Action</th>
						<th>History</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="job : ${jobList}">
						<td th:text="${{job.id}}"></td>
						<td th:text="${{job.jobName}}"></td>
						<td th:text="${{job.workingStatus}}"></td>
						<td><a th:href="@{/startScheduler/{jobName}(jobName=${job.jobName})}">Start</a> &nbsp;| &nbsp;
							<a th:href="@{/stopScheduler/{jobName}(jobName=${job.jobName})}">Stop</a> &nbsp;| &nbsp;
							<a th:href="@{/restartScheduler/{jobName}(jobName=${job.jobName})}">Stop</a>
						</td>
						<td><a th:href="@{/job/detail/{jobId}(jobId=${job.id})}">History</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-2"></div>
	</div>
	<script>
        $(document).ready(function() {
            $('#link-list').DataTable();
        });
    </script>
</body>
</html>